{% extends 'base.html' %}

{% block body %}
<h2> Loan Calculator</h2>
<form method = "post">
  <tabel>
    <tr>
      <td>Loan Amount:</td>
      <td><input type = "text" name= "LoanAmt" /></td>
    </tr>
    <tr>
      <td>Number of Years:</td>
      <td><input type = "text" name= "NumYears" /></td>
    </tr>
    <tr>
      <td>Annual Interest Rate:</td>
      <td><input type = "text" name= "Interest" /></td>
    </tr>
  </tabel>
    <br>
    <input class = "button" type= "submit" formaction="/Calculate" value= "Calculate" />

</form>

<p>{{ "$%.2f"|format(display|float) }}</p>
<div style = "clear:both;"></div>


{% endblock %}